<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028711930905-vstfoj91mdk0l5r7nafglgj8kgls9jns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028711930905-vstfoj91mdk0l5r7nafglgj8kgls9jns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1028711930905-1ic8ie3nc1oc2tooimjg88giv76so896.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4DBcC3NZJkKhV7jDfX2hi9FL9VKzW7w0</string>
	<key>GCM_SENDER_ID</key>
	<string>1028711930905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fooiy.fooiy</string>
	<key>PROJECT_ID</key>
	<string>fooiy-76947</string>
	<key>STORAGE_BUCKET</key>
	<string>fooiy-76947.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028711930905:ios:b64b12a2f52625e2f35e88</string>
</dict>
</plist>